

<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 class="pt-5">Upload Files</h1>


  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>

  <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

  <div>
    <button [disabled]="(isLoading$ | async)" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">

        <h4 mat-line>{{file.name}}</h4>

      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" [disabled]="(isLoading$ | async)" (click)="closeDialog()">
      <span *ngIf="!(isLoading$ | async)">{{ primaryButtonText }}</span>
      <mat-progress-spinner *ngIf="(isLoading$ | async)" diameter="24" mode="indeterminate"></mat-progress-spinner>
    </button>
  </mat-dialog-actions>
</div>