.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100%; /* Adjust this value as needed */
}

h1 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.add-files-btn {
  margin-top: 10px;
}

.mat-progress-bar {
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mat-dialog-actions button {
  margin-left: 10px;
}
