
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

<button class="mx-3" mat-raised-button (click)="openUploadDialog()">Upload</button>
<!-- <button mat-raised-button color="warn" (click)="logout()">Logout</button> -->


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="PK">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.PK}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="uploadedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date uploaded </th>
        <td mat-cell *matCellDef="let row"> {{row.uploadedAt | dateFormat}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row"> 
          <button (click)="downloadFile(row)" mat-icon-button color="primary" aria-label="Update">
            <mat-icon>cloud_download</mat-icon>
          </button>
  
          <button (click)="delete(row)" mat-icon-button color="primary" aria-label="delete">
            <mat-icon>delete</mat-icon>
          </button>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
    </table>
  
    <mat-paginator
    [length]="100"
    [pageSize]="100"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>