.mat-elevation-z8 {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-row {
    cursor: pointer;
  }
  
  .mat-cell,
  .mat-header-cell {
    text-align: center;
    padding: 10px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-cell button {
    margin-right: 5px;
  }
  
  .mat-cell button:last-child {
    margin-right: 0;
  }
  
  .mat-cell button:focus {
    outline: none;
  }
  
  .mat-row:hover {
    background-color: #f5f5f5;
  }
  
  .mat-no-data-row {
    font-style: italic;
    color: #777;
  }
  
  .mat-form-field {
    margin-top: 20px;
    width: 100%;
  }
  
  
